// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// fix date-picker ui bug in filter-item
.el-range-editor.el-input__inner {
  display: inline-flex !important;
}

.el-table--small th, .el-table--small td {
  padding: 2px 0;
}

.el-form-item--mini.el-form-item {
  margin-bottom: 5px;
}
.el-form-item__label {
  font-size: 5px;
}
.el-header {
  background-color: #B3C0D1;
  color: #333;
  line-height: 50px;
}
.el-table__header th {
  background-color: #f2f2f2;
}
.el-table .cell {
  padding-left: 2px;
  padding-right: 2px;
}
.el-table--border th:first-child .cell, .el-table--border td:first-child .cell {
  padding-left: 2px;
}

.el-tree>.el-tree-node {
  font-size: 10px;
}

